footer {
    background-color: black;
    color: #FFFCF3;
    padding-bottom: 70px;
    margin-top: -1px;

    .logo-box {
        display: flex;
        padding-top: 70px;

        img {
            height: 50px;
            cursor: pointer;
        }
    }

    .middle-box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icons-box {
            a {
                margin-left: 50px;
            }
        }
    }

    .legal-box {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        a {
            position: relative;
            color: #FFFCF3;
            font-size: 16px;

            &:hover {
                font-weight: 800;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: #5988FF;
                transition: width 125ms ease-in-out;
            }

            &:hover:after {
                width: 100%;
            }
        }
    }
}

.up-animation {
    transition: all 225ms ease-in-out;

    &:hover {
        transform: translateY(-20px);
    }
}

@media (max-width: 900px) {
    footer {
        .logo-box {
            align-items: center;
            justify-content: center;
            padding-bottom: 25px;
        }

        .middle-box {
            flex-direction: column-reverse;

            span {
                margin: 28px 0;
                text-align: center;
            }

            .icons-box {
                display: flex;
                align-items: center;

                a {
                    margin-right: 25px;
                    margin-left: 25px;
                }
            }
        }

        .legal-box {
            justify-content: center;
        }
    }
}

