<div class="margin-ri-le">
    <h2 id="about-me">About me</h2>
    <article>
        <section>
            <p>I am a Front-end developer based in Vienna, Austria. I enjoy helping designers and companies bring their
                ideas into real life. I am looking forward to continuing my developer career with a job in a junior web
                developer position. If you think I’d be a good match for your projects, contact me!</p>
            <button class="btn-style">Let's talk</button>
        </section>
        <div class="picture-box">
            <div class="decoration-frame"></div>
            <img class="profil-pic" src="../../assets/img/about-me/daniela.jpg" alt="picture of Daniela Scholz">
        </div>
    </article>
</div>