section {
    position: relative;
    height: 300px;
    width: auto;

    img {
        position: absolute;
        transition: all 225ms ease;
    }

    .arrow-left-direction{
        @extend img;
        right: 411px;
        top: 102px;
    }

    .arrow-right-direction{
        @extend img;
        left: 411px;
        top: 102px;
    }

    .arrow{
        position: absolute;
        height: 200px;
        border: 2px solid black;
        background-color: black;
        transition: all 225ms ease;
    }

    .arrowtail-left {
        @extend .arrow;
        rotate: 45deg;
        right: 421px;
        top: 15px;
    }

    .arrowtail-right{
        @extend .arrow;
        rotate: -45deg;
        left: 421px;
        top: 15px;
    }

    &:hover {
        .arrow-left-direction {
            transform: translate(-100px, 100px);
        }

        .arrow-right-direction {
            transform: translate(100px, 100px);
        }

        .arrowtail-left {
            transform: translate(0px, 140px);
        }

        .arrowtail-right {
            transform: translate(0px, 140px);
        }
    }
}

