section {
    .arrow-position-left {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .arrow-position-right {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .move-left {
        transition: transform 0.5s ease-in-out 0.5s;
        transform: translate(-100px, 100px);
    }

    .move-right {
        transition: transform 0.5s ease-in-out 0.5s;
        transform: translate(100px, 100px);
    }
}

@media (max-width: 475px) {
    section {
        img {
            height: 200px;
        }

        .move-left {
            transform: translate(-50px, 50px);
        }
    
        .move-right {
            transform: translate(50px, 50px);
        }
    }
}