section {
    width: 100%;
    height: 700px;
    background-color: black;
    clip-path: polygon(100% 22%, 100% 100%, 0 100%, 0 0);
    padding: 120px 100px 0 100px;

    span {
        color: white;
    }

    form {
        width: 100%;

        input,
        textarea {
            min-width: 50%; 
            font-family: 'Overpass';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #FFFCF3;
            background-color: black;
            padding: 15px 25px;
            margin: 14px 0 14px 0;
            border-top: 4px solid transparent;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            border-bottom: 2px solid #FFFCF3;

            &::placeholder{
                font-family: 'Overpass';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #FFFCF3;    
            }

            &:hover{
                border-top: 4px solid transparent;
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;
                border: 4px solid #FFFCF3;
            }
        }

    }


}