<section>
    <h3 id="contact" class="light-on-dark">Contact me!</h3>
    <div class="d-flex-column-center">
        <h4>Want to discuss a new project?</h4>
        <span>Get in touch with me and make it happen!</span>

        <form class="d-flex-column-center" action="">
            <label for=""></label>
            <input type="text" placeholder="Your name" required>

            <label for=""></label>
            <input type="email" placeholder="Your email" required>

            <label for=""></label>
            <textarea name="" id="" placeholder="Your message" required></textarea>

            <button class="btn-style btn-dark-mode">Send message</button>

        </form>


    </div>
</section>