@import '../../styles.scss';

header {
    @include flex($direction:column, $justify:center, $align:center);
    margin-top: 170px;
}

.name-box {
    @include flex($justify:center, $align:center);
    width: 100%;
}

.decoration-line {
    width: 40%;
    border: 1.5px solid black;
}

.name {
    font-family: 'Overpass';
    font-weight: 700;
    font-size: 48px;
    color: $blue;
    padding-left: 12px;
}

.info-box {
    @include flex($justify: space-between);
    margin-top: 100px;
    font-weight: 300;
}

.email-box {
    writing-mode: vertical-lr;
}

.scroll-img {
    height: auto;
}

@media (max-width: 900px) {
    .name {
        font-size: 36px;
    }
}

@media (max-width: 540px) {
    .name {
        font-size: 23px;
    }
}