header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.name-box {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        font-family: 'Overpass';
        font-weight: 700;
        font-size: 48px;
        color: #5988FF;
    }
}

.info-box {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    font-weight: 300;
}

.email-box {
    transform-origin: 120px 120px;
    transform: rotate(-90deg);
}


.scroll-img {
    height: auto;
}

