<header class="margin-ri-le">
    <h1>Frontend<br>Developer</h1>
    <div class="name-box">
        <img src="../../assets/img/intro/decoration-line.svg" alt="decoration line">
        <div>Daniela Scholz</div>
    </div>
</header>

<div>
</div>

<div class="info-box margin-ri-le">
    <a href="#contact" class="email-box">daniela.scholz93@gmail.com</a>

    <div class="d-flex-column-center-center">
        <div class="scroll-img">
            <img  src="../../assets/img/intro/arrow-down/{{index}}.png" alt="">
        </div>
        <div>Scroll<br>down</div>
    </div>
</div>