<header class="margin-ri-le">
    <h1>Frontend<br>Developer</h1>
    <div class="name-box">
        <div class="decoration-line"></div>
        <div class="name">Daniela Scholz</div>
    </div>
</header>

<div class="info-box margin-ri-le">
    <a href="#contact" class="email-box">daniela.scholz93@gmail.com</a>

    <div class="d-flex-center-space-btw column">
        <div class="scroll-img">
            <img  src="../../assets/img/intro/arrow-down/{{index}}.png" alt="">
        </div>
        <div>Scroll<br>down</div>
    </div>
</div>