fieldset {
  border: 4px solid black;

  legend {
    text-align: center;
  }

  .skills-container {
    margin: 100px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-basis: 15%;
      margin: 15px;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      transition: color 225ms ease-in-out;

      &:hover {
        color: #5988FF;
      }

      img {
        margin-bottom: 10px;
      }

      span {
        white-space: nowrap;
      }
    }
  }
}


// === WOOBLE HORIZONTAL ANIMATION ===//

@-webkit-keyframes wobble-horizontal-on-hover {
  16.65% {
    -webkit-transform: translateX(28px);
    transform: translateX(28px);
  }

  33.3% {
    -webkit-transform: translateX(-26px);
    transform: translateX(-26px);
  }

  49.95% {
    -webkit-transform: translateX(24px);
    transform: translateX(24px);
  }

  66.6% {
    -webkit-transform: translateX(-22px);
    transform: translateX(-22px);
  }

  83.25% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes wobble-horizontal-on-hover {
  16.65% {
    -webkit-transform: translateX(28px);
    transform: translateX(28px);
  }

  33.3% {
    -webkit-transform: translateX(-26px);
    transform: translateX(-26px);
  }

  49.95% {
    -webkit-transform: translateX(24px);
    transform: translateX(24px);
  }

  66.6% {
    -webkit-transform: translateX(-22px);
    transform: translateX(-22px);
  }

  83.25% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.wobble-horizontal-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}

.wobble-horizontal-on-hover:hover,
.wobble-horizontal-on-hover:focus,
.wobble-horizontal-on-hover:active {
  -webkit-animation-name: wobble-horizontal-on-hover;
  animation-name: wobble-horizontal-on-hover;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


@media (max-width: 420px) {
  fieldset {
    .skills-container {
      margin: 25px 25px;
    }
  }
}