<!-- <div class="d-flex-end margin-ri-le">
    <div class="arrow-left"></div>
    <img src="../../assets/img/arrow/arrow-left/1.svg" alt="animatied arrow">
</div> -->

<!-- <div class="d-flex-end margin-ri-le">
    <img src="../../assets/img/arrow/arrow-left/ {{ pic }}.svg" alt="animated arrow"
         (mouseenter)="animateArrow()" class="animated-arrow">
  </div> -->


<fieldset class="margin-ri-le">
    <legend>
        <h2 id="skills">My skills</h2>
    </legend>

    <div class="skills-container margin-ri-le">
        <div *ngFor="let skill of skills">
            <img class="wobble-horizontal-on-hover " src="../../assets/img/skills/{{ skill }}.svg" alt="{{ skill }} logo">
            <span>{{ skill }}</span>
        </div>
    </div>
</fieldset>