.project-box{
    display: flex;
    flex-direction: column;
    mix-blend-mode: luminosity;

    &:hover{
        mix-blend-mode: normal;
    }

    h3{
        font-feature-settings: 'pnum' on, 'lnum' on;
    }
}

.project-box:nth-of-type(even){
    h3{
        text-align: end;
    }
}

.project-box:nth-of-type(odd){
    img{
        align-self: flex-end;
    }
}

.project-screenshoot{
    width: 620px;
    height: 394px;
    object-fit: cover;
}

