.arrow-box {
    position: relative;
 
    .scroll-top-arrow {
        background-image: url(../../assets/img/scroll-top/arrow-scroll-top-default.svg);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        bottom: 50px;
        right: 100px;
        height: 100px;
        width: 50px;
        cursor: pointer;
    }
}

.show{
    background-image: url(../../assets/img/scroll-top/arrow-scroll-top-large.svg) !important;
    transition: background-image 225ms ease-in-out 0.5s;
}