.scroll-to-top {
    display: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
    border: 3px solid black;
    position: fixed;
    bottom: 25px;
    right: 25px;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

.scroll-top-arrow {
    border-top: 5px solid black;
    border-right: 5px solid black;
    width: 20px;
    height: 20px;
    transform: translate(17.5px, 20px) rotate(-45deg);
}

.show {
    display: block;
    animation: show 1s forwards;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}