nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;

    img{
        height: 50px;
        cursor: pointer;

    }

    a{
        color: black;
        font-size: 24px;
        margin-left: 24px;

        &:hover{
            color: #5988FF;
        }
    }
}

