@media (max-width: 1216px) {
    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 45px;
    }

    h4 {
        font-size: 32px;
    }

    h5 {
        font-size: 27px;
    }

    h6 {
        font-size: 24px;
    }
}


@media (max-width: 900px) {
    .margin-ri-le {
        margin-right: 75px;
        margin-left: 75px;
    }

    h1{
        font-size: 60px;
    }
}


@media (max-width: 800px) {
    .margin-ri-le {
        margin-right: 50px;
        margin-left: 50px;
    }
}


@media (max-width: 600px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 45px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 27px;
    }

    h5 {
        font-size: 24px;
    }

    h6 {
        font-size: 20px;
    }
}

@media (max-width: 540px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 45px;
    }

    h3 {
        font-size: 23px;
    }

    h4 {
        font-size: 23px;
    }

    h5 {
        font-size: 23px;
    }

    h6 {
        font-size: 23px;
    }
}

@media (max-width: 475px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 28px;
    }
}




@media (max-width: 390px) {
    .margin-ri-le {
        margin-right: 25px;
        margin-left: 25px;
    }
}

