@use 'assets/fonts/fonts';

body {
     display: flex;
     flex-direction: column;
     margin: 0;
     font-family: 'Overpass', 'Segoe UI', Arial, Helvetica, sans-serif;
     font-size: 23px;
     font-weight: 400;
     background-color: #FFFCF3;
     overflow-x: hidden;
}

.overflow-hidden{
     overflow-y: hidden;
 }

html {
     scroll-behavior: smooth;
}

// === COLORS ===//
// blue: #5988FF;
// cream: #FFFCF3;

* {
     box-sizing: border-box;
}

h1,
h2,
h3 {
     font-family: 'Syne';
     margin: 0;
}

h1 {
     font-size: 128px;
     font-weight: 800;
     text-align: center;
}

h2 {
     font-size: 78px;
     font-weight: 800;
     transition: color 225ms ease-in-out;

     &:hover {
          color: #5988FF;
     }
}

h3 {
     font-size: 48px;
     font-weight: 700;
}

h4 {
     font-family: 'Syne';
     font-size: 45px;
     font-weight: 800;
     margin: 0;
}

h5 {
     font-size: 32px;
     font-weight: 700;
     color: #5988FF;
     margin: 0;
     text-align: center;
}

h6 {
     font-size: 27px;
     font-weight: 400;
     color: #5988FF;
     margin: 15px 0;
}

a {
     text-decoration: none;
     color: inherit;
     cursor: pointer;
}

.margin-ri-le {
     margin-right: 100px;
     margin-left: 100px;
     // border: 1px dotted black;
}

.margin-b-nc {
     margin-top: 70px;
}

.margin-top-12 {
     margin-top: 12px;
}

.margin-btm-12 {
     margin-bottom: 12px;
}

.center-text {
     text-align: center;
}

.light-on-dark {
     margin: 0;
     color: #FFFCF3;

     &:hover {
          color: #5988FF;
     }
}

.flex {
     display: flex;
}

.column{
     flex-direction: column;
}

.d-flex-center-space-btw {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.d-flex-center-space-even {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
}

.d-flex-center-center {
     display: flex;
     align-items: center;
     justify-content: center;
}

.d-flex-column-center {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.d-flex-column-center-center {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.d-flex-end {
     display: flex;
     align-items: center;
     justify-content: flex-end;
}

// === BUTTONS ===//
.btn-style {
     font-family: 'Overpass';
     font-size: 23px;
     height: 68px;
     // min-width: 30%;
     border: 4px solid black;
     background-color: white;
     color: black;
     cursor: pointer;
     transition: all 0.1s ease-in-out;
     outline: none;

     &:hover {
          font-weight: 400;
          color: white;
          background-color: black;
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
          filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15));
     }
}

.btn-white {
     min-width: 30%;

     &:hover {
          color: black;
          background-color: white;
          font-weight: 700;
          min-width: 40%;
     }
}

.btn-black {
     color: #FFFCF3;
     background-color: black;
     border: 4px solid #FFFCF3;
     min-width: 30%;
     outline: none;


     &:hover {
          font-weight: 700;

          border: 4px solid #FFFCF3;
          min-width: 35%;
          box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.15);
          filter: drop-shadow(5px 5px 15px rgba(255, 255, 255, 0.15));
     }

     &:active {
          color: black;
          background-color: #FFFCF3;
     }
}

.btn-blue {
     color: #5988FF;
     background-color: white;
     border: 4px solid #5988FF;


     &:hover {
          color: #FFFCF3;
          background-color: #5988FF;
          border: 4px solid #5988FF;
     }

     &:active {
          border: 4px solid #5988FF;
     }
}

.cream-font {
     color: #FFFCF3;
}

// === SCROLLBAR ===//
::-webkit-scrollbar {
     width: 10px;
}

::-webkit-scrollbar-thumb {
     background-color: #999;
     border-radius: 5px;
}

::-webkit-scrollbar-track {
     background-color: #FFFCF3;
}

// === RESPONSIVE SETTINGS ===//
@import 'mobile.styles';